.heading{
  color:#20cfbb;
  font-family:cursive;
  margin-top:5px;
  padding:10px
}

.heading2{
  color:beige;
  margin:8px;
  padding:10px
}

.homeBtn{
      text-decoration: none;
    font-size: 30px;
    border: 2px solid white;
}